.logo {
  padding: 30px 0;
  text-align: center;
  border-bottom: 1px solid #2a2d37;
}

.logo img {
  width: 176px;
  height: 36px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


@media ($desktop-widths) {

  .logo {
    padding: 60px 0;
    padding-left: 30px;
    text-align: left;
  }

}
