@define-mixin font-style $font-size: 16px, $line-height: 21px, $font-weight: 400 {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@define-mixin container $width: 280px, $margin: 0 auto {
  width: $width;
  margin: $margin;
}


@define-mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
